<!DOCTYPE html>
<html>
  <head>
    <title>PhoneBuzz</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
      <h2>Hello, welcome to PhoneBuzz!</h2>

      <hr>

      <p>To have PhoneBuzz call you, enter a U.S. phone number (e.g., 1234567890). Number formatting and extension ("+1") not needed.</p>
	  <form action="/handle-phone">
		  Enter number:
		  <br>
		  <input type="text" name="phoneNumber" value="">
		  <br><br>
          Enter a delay (in seconds):
          <br>
		  <input type="text" name="delay" value="0">
          <br><br>
		  <input type="submit" value="Submit">
	  </form>

      <hr>

      <p>Alternatively, directly <a href=$twilioNumber>call PhoneBuzz</a></p>

      <hr>
  </body>
</html>