<!DOCTYPE html>
<html>
  <head>
    <title>PhoneBuzz</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
	  <form action="/handle-phone">
		  Enter number:<br>
		  <input type="text" name="phonenumber" value=""><br>
		  <br>
		  <input type="submit" value="Submit">
	  </form>
  </body>
</html>